/* style.css */
.profile-container {
    background-color: #ffffff; 
    width: 100% !important; 
    height: 200px; 
    max-width: none;
    
}

body {
    width: 100%;
    margin: 0; 
    padding: 0; 
}


.profile-picture {
    width: 150px; 
    height: 150px; 
}

